@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300i,400,600,700');
@media only screen and (max-width: 650px) {

body{
    font-family: 'Source Sans Pro', sans-serif;
}

header{
    width: 100%;
    background: #eeeeee;
    display: flex;
    justify-content: center
}

    #subcontainer-header1{
        width:70px;
        padding:1em 0em 1em 0em;
        }
        #ImgCloud, #LogoHelloWeather{
            width:100%
    }
    #subcontainer-header2{
        width:300px;
        text-align: center;
        padding: 1em 0em 1em 0em;
    }
        .motto{
            font-size:1.1em;
            font-weight: 600;
            color: #4B5670;
    }
    #current-conditions-container{display: none;}

nav{
    width:100%;
    background: #4E78D3;
    text-align: center;
    color:white;

}
    ul{
        padding: 0;
        margin:0;
    }
    li{
        padding: 0.5em;
    }
    li:hover{
        background: #4B5670;
    }
        .selected-menu{
            background: #FB7544;
            color:white;
            font-weight: 600;
        }
    nav a{
        text-decoration: none;
        color:white;
    }
    h1{text-align:center;}
            #section1-preston{width: 100%;
                display: flex;
                }
                #WeatherSummary{
                    width:200px;
                    background:rgba(78, 120, 211, 0.8);
                    padding:1em;
                    position: absolute;
                    margin: 2% 0% 0% 2%;
                }
                    .cointainer-summary{
                        display: flex;
                    }
                    .title-summary{
                        color:#fff;
                        margin: 0px;
                        font-weight: 600;
                    }
                    #Output-Currently, #Output-Temperature, #Output-Humidity, #Output-Precipitation, #Output-WindSpeed{
                        color:#fff;
                        font-weight: 400;
                        margin:0px;
                    }
                    h2{
                        margin:0;
                        color: #fff;
                    }
                #ImgPreston{width:100%;}
                .img-container{width:100%;}

                #section2-preston{
                    width: 100%;
                    background: #C1C7D5;
                    margin-top:1em;
                    margin-top:50px;
                }
                    #Article-Preston{
                        width:95%;
                        padding:2%;
                        display: flex;
                        flex-direction: column;
                    }
                    #small-letter{
                        font-size:10pt;
                        margin-bottom: 20px;
                        order:2;
                    }
                    h3{
                        margin: 0px;
                        font-size:22pt;
                        order:1;}
                    #text{
                        width:100%;
                        font-size: 12pt;
                        order:4;
                    }
                    #img-container-article{
                        width:95%;
                        padding:2%;
                        order:3;
                        
                    }
    footer{
         background: #4B5670;
            padding:10px;
            color:#fff;
            margin-top:20px;
            text-align:center;
            }
            #Img-footer{display:none;}
            #Container-footer{padding:20px;}
            #Footer-Maps{width:100%;}
            #map{width:100%;}
            iframe{
                width:100%; 
                height: 100%;
                border:none;}
            #LastBar{
                width:100%;
                background: #4E78D3;
                text-align: center;
                padding:1em;
            }
            #SmallText-Footer{
                color:#fff;
                font-size: 10pt;
            }
}